/*Estilos Gerais*/
:root {
    --bg_menu:#fec63e;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

.btn {
    border:3px solid var(--bg_menu);
    padding:10px 30px;
    color:var(--bg_menu);
    font-size:14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}

.btn:hover {
    color:#fff;
    border: 3px solid #fff;
}
/*Header*/
.header {
    width: 100%;
    background:var(--bg_menu);
    padding: 15px 0;
    position:fixed;
    top:0;
}

.header_menu {
    text-align: right;
}

.header_menu ul li {
    display: inline-block;
    margin-top:20px;
    margin-left: 25px;
}

.header_menu ul li a {
  color:#000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 20px;
  padding:10px 0;
}

.header_menu ul li a:hover {
    color:#fff;
    
  }

/*Introdução*/

.introducao {
    background: url(../img/bg.jpg) no-repeat center;
    background-size: cover;
    height: 380px;
    width: 100%;
    margin-top:94px;
    text-align:center;
    padding-top:120px;
}

.introducao h1 {
    font-size:48px;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
}

.quote-externo{
    margin:0 auto;
    max-width: 360px;
    color:#fff;
    margin-bottom: 40px;
}

.quote-externo p{
    font-style: italic;
}

/*por padrao sao line*/
.quote-externo p:before, .quote-externo p:after{
    content: " ";
    display: block;
    width: 60px;
    height: 3px;
    background:#fff;
    margin: 14px auto 10px auto;
}

.quote-externo cite{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .1em;
}

