/*Estilos Gerais*/
:root {
    --bg_menu:#fec63e;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

img {
    display:block;
}
.subtitulo{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: .1em;
    color:#000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.subtitulo:after {
    content: " ";
    display: block;
    width: 60px;
    height: 3px;
    background:#000;
    margin: 8px auto ;
}

.btn {
    border:3px solid var(--bg_menu);
    padding:10px 30px;
    color:var(--bg_menu);
    font-size:14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}

.btn:hover {
    color:#fff;
    border: 3px solid #fff;
}

.btn-preto:hover {
    color:#000;
    border-color: #000;
}

/*Header*/
.header {
    width: 100%;
    background: var(--bg_menu);
    padding: 15px 0;
    position: fixed;
    top: 0;
    z-index: 3;
}

.header_menu {
    text-align: right;
}

.header_menu ul li {
    display: inline-block;
    margin-top:20px;
    margin-left: 25px;
}

.header_menu ul li a {
  color:#000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 20px;
  padding:10px 0;
}

.header_menu ul li a:hover {
    color:#fff;
    
  }

/*Introdução*/

.introducao {
    background: url(../img/bg.jpg) no-repeat center;
    background-size: cover;
    height: 380px;
    width: 100%;
    margin-top: 92px;
    text-align:center;
    padding-top: 120px;
}

.introducao h1 {
    font-size:48px;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
}

.quote-externo{
    margin:0 auto;
    max-width: 360px;
    color:#fff;
    margin-bottom: 40px;
}

.quote-externo p{
    font-style: italic;
}

/*por padrao sao line*/
.quote-externo p:before, .quote-externo p:after{
    content: " ";
    display: block;
    width: 60px;
    height: 3px;
    background:#fff;
    margin: 14px auto 10px auto;
}

.quote-externo cite{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .1em;
}

/*Produtos */
.produtos {
    padding:60px 0;
}

.produtos_lista li {
    background: var(--bg_menu);
}

.produtos_lista li h3 {
   font-weight: bold;
   font-size:18px;
   line-height: 25px;
   text-transform: uppercase;
   letter-spacing: .1em;
   margin-top:20px;
   text-align: center;
}

.produtos_lista li h3:after{
    content: " ";
    display: block;
    width: 60px;
    height: 3px;
    background:#000;
    margin: 2px auto;
}

.produtos_lista p{
    padding: 10px 20px 20px 20px;
    text-align: center;
}

.produtos_icone {
    background:#000;
    text-align: center;
    padding: 20px;
}

.call {
    clear:both;
    padding-top: 40px;
    text-align: center;
}

.call p{
    margin-bottom:20px;
}

/*Portfólio*/

.portfolio{
    width: 100%;
    background-color: #000;
    padding: 40px 0;
}

.portfolio .subtitulo {
    color: var(--bg_menu);
}

.portfolio .subtitulo:after {
    background: var(--bg_menu);
}

.portfolio_lista li:last-child{
    margin-top: 20px;
}

.portfolio .call p{
    color: #fff;
}

/*Qualidade*/

.qualidade {
    padding: 60px 0;
}

.qualidade img{
    margin: 0  auto;
}

.qualidade_lista li {
    text-align: center;
    padding: 0 40px;
}

.qualidade_lista li h3 {
    font-weight: bold;
    font-size:18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top:20px;
    text-align: center;
 }
 
 .qualidade_lista li h3:after{
     content: " ";
     display: block;
     width: 60px;
     height: 3px;
     background:#000;
     margin: 6px auto;
 }
 
 .qualidade_lista p{
     padding: 10px 20px 20px 20px;
     text-align: center;
 }